<h1>Listing customer</h1>
 
<table>
  <tr>
    <th>name</th>
    
  </tr>
 
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      
      


      <!-- these tow lines are included whenever we want to perfoms a destroy operation -->
      
      
      </tr>

      
  <% end %>
</table>